html{
	background:#000000;
}
html,body{
	margin:0;
	font-family: 'Josefin Sans', sans-serif;
	text-align:center;
	height:100%;
}
body{
	padding:6%;
	height:100%;
	
	background:url(../assets/citybg.jpg)no-repeat;
	
	/*
	transition:all 0.3s ease-in-out;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;*/
	
}
@media (orientation: landscape) {
    body {
        background-size:100% auto;
    }
}
@media (orientation: portrait) {
    body {
        background-size:auto 100%;
    }
}
h1{
	font-size:40px;
	color:#ffffff;
	text-shadow:0px 4px 10px rgba(0,0,0,0.4);
	-webkit-text-shadow:0px 4px 10px rgba(0,0,0,0.4);
	-moz-text-shadow:0px 4px 10px rgba(0,0,0,0.4);
}
h1 span{
	font-weight:300;
}
.page{
	position:relative;
	margin:auto;
	padding:6%;
	
	width:88%;
	max-width:500px;
	
	background:#ffffff;
	border:solid 1px #dedede;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	box-shadow:0px 4px 15px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 4px 15px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 4px 15px rgba(0,0,0,0.4);
}
h2{
	margin-top:0;
}
.logout{
	position:absolute;
	top:-5px; 
	right:10px;
	
	cursor:pointer;
}
.logout:hover{
	color:#bb0000;
}
input{
	margin:5px;
	padding:10px;
	
	font-size:16px;
	
	border:solid 1px #efefef;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
button{
	padding:10px 20px;
	
	border:solid 2px #00aa88;
	background:none;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	
	font-size:18px;
	line-height:18px;
	
	cursor:pointer;
	
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
}
button:hover{
	background:#00aa88;
	color:#ffffff;
}
.favicon img{
	max-width:20px;
	
	cursor:pointer;
}
.favicon img.active{
	position:absolute;
	opacity:0;
	
	cursor:pointer;
	
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
}
.favicon:hover img.active, .favicon img.active.show{
	opacity:1;
}
table{
	width:100%;
}
td{
	border-bottom:solid 1px #efefef;
}
.gall-img{
	width:80%;
}